<% layout("/layouts/boilerPlate") %>
<body>
  <!-- <h3>All Listings</h3> -->
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter {
      text-align: center;
      margin-right: 3rem;
      margin-top: 1rem;
      opacity: 0.7;
      transition: ease-in-out 0.1s;
    }
    .filter:hover {
      opacity: 1;
    }
    .tax-info {
      display: none;
    }
    .tax-toggle {
      cursor: pointer;
      opacity: 0.9;
      border: 1px solid black;
      border-radius: 0.8rem;
      padding: 0.8rem;
      height: 3.2rem;
      display: flex;
      align-items: center;
    }
  </style>
  <div id="filters">
    <div class="filter">
      <div><i class="bi bi-fire"></i></div>
      <p class="filter-text">Trend</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p class="filter-text">Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p class="filter-text">Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-hotel"></i></div>
      <p class="filter-text">Hotel</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-utensils"></i></div>
      <p class="filter-text">Dining</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p class="filter-text">City</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p class="filter-text">Hill</p>
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p class="filter-text">Artic</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-chess-rook"></i></div>
      <p class="filter-text">Castle</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-burger"></i></div>
      <p class="filter-text">Casual</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p class="filter-text">Pool</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p class="filter-text">Farms</p>
    </div>
    <!-- <div class="filter">
      <div><i class="fa-solid fa-wine-bottle"></i></div>
      <p class="filter-text">Winery</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tower-observation"></i></div>
      <p class="filter-text">Tower</p>
    </div> -->

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch" style="cursor: pointer">
        <input
          style="cursor: pointer"
          class="form-check-input"
          id="tax-switch"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label
          class="form-check-label"
          style="cursor: pointer"
          for="flexSwitchCheckDefault"
          >Total Price after tax</label
        >
      </div>
    </div>
  </div>
  <div class="row mt-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
    <a class="card-anchor" href="listings/<%=listing._id%>">
      <div class="row">
        <div class="card listing-card">
          <img
            src="<%=listing.image.url%>"
            class="card-img-top index-card-img"
            alt="listing image"
            style="height: 20rem"
          />
          <div class="card-body">
            <p class="card-text">
              <b><%=listing.title%></b><br />
              &#8377; <%=Number(listing.price).toLocaleString("en-IN")%> /
              Night<i class="tax-info">&nbsp;&nbsp;+18% GST</i>
            </p>
          </div>
        </div>
      </div>
    </a>

    <% } %>
  </div>
</body>

<script>
  let taxSwitch = document.querySelector("#tax-switch");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    console.log(taxInfo);
    for (i of taxInfo) {
      if (i.style.display != "inline") {
        i.style.display = "inline";
      } else {
        i.style.display = "none";
      }
    }
  });
</script>
