<% layout("/layouts/boilerPlate") %>
<body>
  <h3>All Listings</h3>
  <div class="row mt-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
    <a class="card-anchor" href="listings/<%=listing._id%>">
      <div class="row">
        <div class="card">
          <img
            src="<%=listing.image.url%>"
            class="card-img-top index-card-img"
            alt="listing image"
            style="height: 20rem"
          />
          <div class="card-body">
            <p class="card-text">
              <b><%=listing.title%></b><br />
              &#8377; <%=Number(listing.price).toLocaleString("en-IN")%> / Night
            </p>
          </div>
        </div>
      </div>
    </a>

    <% } %>
  </div>
</body>
