html body {
  height: 100vh !important;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  /* height: 1000px; */
  /* width: 100vh; */
}

.container {
  flex: 1 !important;
}

.navbar {
  height: 5rem;
  background-color: white !important;
}

.collapse {
  background-color: white !important;
}

.nav-link {
  color: #222222 !important;
}

/* footer {
  align-self: ;
} */

.f-links a {
  text-decoration: none;
  color: #222222;
}
.f-links a:hover {
  text-decoration: underline;
}

.f-info {
  display: flex;
  height: 6rem;
  text-align: center;
  background-color: whitesmoke;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.f-info-social {
  width: 100%;
  margin-top: 10px;
}
.f-links {
  width: 100%;
  margin-bottom: 10px;
}
.name {
  width: 100%;
}

/* cards */
.listing-card {
  border: 0 !important;
  margin-bottom: 2rem !important;
  margin-top: 1rem !important;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* transition: transform 0.3s, box-shadow 0.3s; */
}

.index-card-img {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
  transition: transform 0.3s, box-shadow 0.3s;
}

.index-card-img:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px) scale(1.05);
}

.card-body {
  padding: 0 !important;
}

.card-anchor {
  text-decoration: none !important;
}

/* show page */

.show-card-img {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
  /* transition: transform 0.6s, opacity 0.6s; */
}

/* -------------------------------------- */
.signupLink:hover {
  text-decoration: underline;
}

/* .loginLink {
  font-weight: 550;
  opacity: 10;
} */

.loginLink:hover {
  text-decoration: underline;
}
